{{yield}}
<li class="bold">
  <a href="index.html" class="waves-effect waves-cyan"><i class="{{icon}}"></i>{{text}}
  {{#if newBadge}}
    <span class="new badge">{{newBadge}}</span>
  {{else}}
    <span class="badge">{{badge}}</span>
  {{/if}}
  </a>
</li>
