<ul class="waves-effect waves-block waves-light {{direction}} {{hide}} ">

{{#if title}}

{{#link-to route routeItem tagName='li'}}

      <a>
        {{#if icon}}
        <i class="{{icon}} {{direction}}"></i>
        {{/if}}

        {{title}}
      </a>

    {{/link-to}}




  {{else}}



      {{#link-to route routeItem tagName='li'}}
        <a>
          <i class="{{icon}}"></i>
        </a>
      {{/link-to}}



  {{/if}}
</ul>
