{{wrappers/top-nav}}






<div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            <!-- START LEFT SIDEBAR NAV-->

{{wrappers/side-nav}}

            <!-- //////////////////////////////////////////////////////////////////////////// -->

            <!-- START CONTENT -->
            <section id="content">

                <!--start container-->
                <div class="container">

{{items/chart-dashboard}}
                    <!-- //////////////////////////////////////////////////////////////////////////// -->

                    <!--card stats start-->
                    <div id="card-stats">
                        <div class="row">
                            <div class="col s12 m6 l3">
                                {{items/stat-card}}
                            </div>
                            <div class="col s12 m6 l3">
                                {{items/stat-card}}
                            </div>
                            <div class="col s12 m6 l3">
                                {{items/stat-card}}
                            </div>
                            <div class="col s12 m6 l3">
                                {{items/stat-card}}
                            </div>

                        </div>
                    </div>
                    <!--card stats end-->

                    <!-- //////////////////////////////////////////////////////////////////////////// -->

                    <!--card widgets start-->
                    <div id="card-widgets">
                        <div class="row">

                            <div class="col s12 m12 l4">
                              {{widgets/task-card}}
                            </div>

                            <div class="col s12 m6 l4">
                              {{widgets/flight-card}}
                            </div>

                            <div class="col s12 m6 l4">
                                {{widgets/user-card}}
                            </div>

                        </div>

                        <div class="row">
                            <!-- blog card -->
                            <div class="col s12 m12 l4">
                              {{widgets/blog-card}}
                            </div>

                            <!-- product-card -->
                            <div class="col s12 m12 l4">
                              {{widgets/product-card}}
                            </div>

                            <!-- map-card -->
                            <div class="col s12 m12 l4">
                              {{widgets/map-card}}
                            </div>

                    </div>
                    <!--card widgets end-->

                    <!-- //////////////////////////////////////////////////////////////////////////// -->

                    <!--work collections start-->
                    {{widgets/work-card}}
                    <!--work collections end-->

                    <!-- Floating Action Button -->
                    {{wrappers/floating-actions}}
                    <!-- Floating Action Button -->

                </div>
                <!--end container-->
            </div></section>
            <!-- END CONTENT -->

            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START RIGHT SIDEBAR NAV-->
            {{wrappers/chat-nav}}
            <!-- LEFT RIGHT SIDEBAR NAV-->

        </div>
        <!-- END WRAPPER -->

    </div>
