{{yield}}
{{#wrappers/side-nav}}
{{#widgets/user-nav-card name="Sam Gk" role="Administrator" url="http://demo.geekslabs.com/materialize/v2.2/layout01/images/avatar.jpg"}}

  {{#wrappers/dropdown-wrapper}}
    {{items/dropdown-item icon="mdi-action-face-unlock" text="Profile"}}

    {{items/dropdown-item icon="mdi-action-settings" text="Settings"}}

    {{items/dropdown-item icon="mdi-communication-live-help" text="Help"}}

    {{items/dropdown-item icon="mdi-action-lock-outline" text="Lock"}}

    {{items/dropdown-item icon="mdi-hardware-keyboard-tab" text="Logout"}}
  {{/wrappers/dropdown-wrapper}}

{{/widgets/user-nav-card}}


{{#wrappers/accordion-wrapper}}
{{#wrappers/accordion-section text="CSS" icon="mdi-action-invert-colors"}}
 {{items/nav-item text="typography"}}
{{/wrappers/accordion-section}}

{{#wrappers/accordion-section text="UI Elements" icon="mdi-image-palette"}}
 {{items/nav-item text="Buttons" link="application"}}
 {{items/nav-item text="Badges" link="test"}}
 {{items/nav-item text="Cards"}}
 {{items/nav-item text="Collections"}}
 {{items/nav-item text="Accordian"}}
 {{items/nav-item text="Tabs"}}
 {{items/nav-item text="Navbar"}}
 {{items/nav-item text="Pagination"}}
 {{items/nav-item text="Preloader"}}
 {{items/nav-item text="Buttons"}}
 {{items/nav-item text="Modals"}}
 {{items/nav-item text="Media"}}
 {{items/nav-item text="Toasts"}}
 {{items/nav-item text="Tooltip"}}
{{/wrappers/accordion-section}}

{{#wrappers/accordion-section text="Tables" icon="mdi-editor-border-all"}}
 {{items/nav-item text="Basic Tables"}}
 {{items/nav-item text="Data Tables"}}
{{/wrappers/accordion-section}}

{{#wrappers/accordion-section text="Forms" icon="mdi-editor-insert-comment"}}
 {{items/nav-item text="Form Elements"}}
 {{items/nav-item text="Form Layouts"}}
{{/wrappers/accordion-section}}

{{#wrappers/accordion-section text="Forms" icon="mdi-social-pages"}}
 {{items/nav-item text="Contact Page"}}
 {{items/nav-item text="ToDos"}}
 {{items/nav-item text="Blog Type 1"}}
 {{items/nav-item text="Blog Type 2"}}
{{/wrappers/accordion-section}}

{{#wrappers/nav-section text="MORE"}}
  {{#wrappers/accordion-section text="Forms" icon="mdi-social-pages"}}
   {{items/nav-item text="Contact Page"}}
   {{items/nav-item text="ToDos"}}
   {{items/nav-item text="Blog Type 1"}}
   {{items/nav-item text="Blog Type 2"}}
  {{/wrappers/accordion-section}}

  {{items/nav-item text="Dashboard" icon="mdi-action-dashboard" badge="7"}}

  {{items/nav-item text="Mailbox" icon="mdi-communication-email" newBadge="3"}}

  {{items/nav-item text="Calender" icon="mdi-editor-insert-invitation"}}

  {{items/nav-item text="Widgets" icon="mdi-device-now-widgets"}}
{{/wrappers/nav-section}}

{{/wrappers/accordion-wrapper}}



{{#wrappers/nav-section text="TWICE"}}
{{items/nav-item text="Dashboard" icon="mdi-action-dashboard"}}

{{items/nav-item text="Mailbox" icon="mdi-communication-email"}}

{{items/nav-item text="Calender" icon="mdi-editor-insert-invitation"}}

{{items/nav-item text="Widgets" icon="mdi-device-now-widgets"}}
{{/wrappers/nav-section}}



<li class="no-padding">
{{wrappers/accordion-wrapper}}
</li>


{{/wrappers/side-nav}}
