{{outlet}}
<section id="content">
    <div class="container">
      <!-- {{items/chart-dashboard}} -->
        <div id="card-stats">
            <div class="row">
                <div class="col s12 m6 l3">
                  {{#link-to 'adminhome.courses'}}

                    {{items/stat-card
                       topicon="mdi-social-group-add"
                       title="Courses Offered" number="20"
                       color="blue"
                       bottomicon="mdi-hardware-keyboard-arrow-up"}}

                  {{/link-to}}
                </div>
                <div class="col s12 m6 l3">
                  {{items/stat-card topicon="mdi-social-group-add" color="blue" bottomicon="mdi-hardware-keyboard-arrow-up"}}
                </div>
                <div class="col s12 m6 l3">
                  {{items/stat-card topicon="mdi-social-group-add" color="blue" bottomicon="mdi-hardware-keyboard-arrow-up"}}
                </div>
                <div class="col s12 m6 l3">
                  {{items/stat-card topicon="mdi-social-group-add" color="blue" bottomicon="mdi-hardware-keyboard-arrow-up"}}
                </div>

            </div>
        </div>

        <div id="card-widgets">
            <div class="row">

                <div class="col s12 m12 l4">
                  {{widgets/task-card}}
                </div>

                <div class="col s12 m6 l4">
                  {{widgets/flight-card}}
                </div>

                <div class="col s12 m6 l4">
                    {{widgets/user-card}}
                </div>

            </div>

            <div class="row">

                <div class="col s12 m12 l4">
                  {{widgets/blog-card}}
                </div>

                <div class="col s12 m12 l4">
                  {{widgets/product-card}}
                </div>

                <div class="col s12 m12 l4">
                  {{widgets/map-card}}
                </div>

        </div>

        {{widgets/work-card}}

        {{wrappers/floating-actions}}

    </div>

</div>
</section>
