{{!--active students layout--}}

{{#if active}}

<div class="row">

  <div class="col s12 m4 l3">
    {{widgets/printable-students-list title="Active Students" route=route}}
  </div>

  {{outlet}}
</div>

{{/if}}

{{!--for the completed students layout--}}


{{#if completed}}
<div class="row">

  <div class="col s12 m4 l3">
    {{widgets/printable-students-list title="Completed Students" route=route}}
  </div>

{{outlet}}

</div>
{{/if}}

{{!--for the issue students layout--}}

{{#if issues}}

<div class="row">

<div class="col s12 m4 l3">
  {{widgets/printable-students-list title="Issues Students" route=route}}
</div>

{{outlet}}
</div>


{{/if}}
