{{#wrappers/form-section text="Personal Details"}}

  {{items/form-input label="First Name" value=student.user.firstname s=s m=m l=l}}

  {{items/form-input label="Middle Name" value=student.user.middlename s=s m=m l=l}}

  {{items/form-input label="Last Name" value=student.user.lastname s=s m=m l=l}}

  {{items/form-input label="Gender" value=student.user.gender s=s m=m l=l}}

  <div class="input-field col s12 m4 l{{l}}">
    {{items/date-picker value=student.user.dob}}
  </div>

  {{items/form-input label="Nationality" value=student.user.nationality s=s m=m l=l}}

  {{items/form-input label="Residential" value=student.user.residentialarea s=s m=m l=l}}

  {{items/form-input label="Id Number" value=student.user.phonenumber s=s m=m l=l}}


{{/wrappers/form-section}}
