{{#wrappers/form-section text="Personal Details"}}

  {{items/form-input label="First Name" s="12" m="4" l="3"}}

  {{items/form-input label="Middle Name" s="12" m="4" l="3"}}

  {{items/form-input label="Last Name" s="12" m="4" l="3"}}

  {{items/form-input label="Gender" s="12" m="4" l="3"}}

  <div class="input-field col s12 m4 l3">
    {{items/date-picker }}
  </div>

  {{items/form-input label="Nationality" s="12" m="4" l="3"}}

  {{items/form-input label="Residential" s="12" m="4" l="3"}}

  {{items/form-input label="Id Number" s="12" m="4" l="3"}}


{{/wrappers/form-section}}
