{{drop-area}}

<div class="col-uploads">
      <button {{action "uploadAll"}} {{bind-attr class=":btn :btn-primary hasUploads::disabled"}}>Upload All</button>
      <button {{action "removeCompleted"}} {{bind-attr class=":btn :btn-default :btn-remove-completed hasCompleted::disabled"}}>Remove Completed</button>
      <label class="total-size">Total file size: </label> {{totalFileSize}}

      <br><br>

      {{#each uploadFile in controller}}
        <div class="upload-file-block">
          <div class="image-preview">
            {{#if uploadFile.isDisplayableImage}}
              <img class="image-preview" {{bind-attr src=uploadFile.base64Image}} />
            {{else}}
              <img class="image-preview" src="img/image-unknown.gif">
            {{/if}}
          </div>

          <div class="details-block">
            <label>Name:</label> {{input value=uploadFile.name}} <br>
            <label>Size:</label> {{uploadFile.size}}<br>

            {{#if uploadFile.didUpload}}
              <span class="has-success">
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                <span class="form-control-feedback">Success</span>
              </span>
            {{else}}
              <a {{action "uploadFile" uploadFile}}>Upload</a>
            {{/if}}

            <a {{action "removeFile" uploadFile}} class="remove-from-list">Remove from List</a>

            {{#if uploadFile.showProgressBar}}
              <div class="progress progress-striped">
                <div class="progress-bar progress-bar-info" {{bind-attr style="uploadFile.progressStyle"}}></div>
              </div>
            {{/if}}
          </div>
        </div>
      {{else}}
        <h4 class="msg-drop">Drop files here to upload</h4>
      {{/each}}
    </div>

    <div class="col-log">
      <div class="well">
        <label>Upload Logs</label>
        <ul>
        {{#each url in uploadedLog}}
          <li><a {{bind-attr href="url"}} target="_blank">{{url}}</a></li>
        {{/each}}
        </ul>
      </div>
    </div>

    {{file-upload}}
